@model ContactUsFormViewModel



@{
    HeaderWithInfoModel header = new HeaderWithInfoModel()
            {
                Title = "CONTACT",
                ImageUrl = "https://cdn.pixabay.com/photo/2018/03/10/09/49/city-3213676_1280.jpg"
            };
}

<partial name="/Views/PartialViews/Components/_HeaderWithInfo.cshtml" model="@header" />

<!-- Contact form -->
<div class="contact-form container">

    <h5 style="color: #636363; margin-top: 100px;">Fill in the form to come in contact with us.</h5>

    <form method="post" class="form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <span class="split-input">
            <span>
                <label asp-for="Name"></label>
                <input asp-for="Name" type="text">
                <small class="text-danger"><span asp-validation-for="Name"></span></small>
            </span>
            <span>
                <label asp-for="Email"></label>
                <input asp-for="Email">
                <small class="text-danger"><span asp-validation-for="Email"></span></small>
            </span>
        </span>

        <span class="split-input">
            <span>
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" type="text">
                <small class="text-danger"><span asp-validation-for="PhoneNumber"></span></small>
            </span>
            <span>
                <label asp-for="Company"></label>
                <input asp-for="Company" type="text">
                <small class="text-danger"><span asp-validation-for="Company"></span></small>
            </span>
        </span>
        <label asp-for="Message" style="margin-bottom: -20px;"></label>
        <textarea asp-for="Message" id="" cols="20" rows="5"></textarea>
        <small class="text-danger"><span asp-validation-for="Message"></span></small>

        <span>            
            <input asp-for="TermsAndAgreements" type="checkbox" />
            <label asp-for="TermsAndAgreements"></label>
        </span>
        <small class="text-danger"><span asp-validation-for="TermsAndAgreements"></span></small>
        
        
       @* <span class="radio-input">
            <label asp-for="TermsAndAgreements"><input type="checkbox" name="agreements" id=""><i class="fa-solid fa-check"></i>Save my name, email, and website in this browser for the next time I comment.</label>
        </span>*@

        <button type="submit" class="btn-theme">Submit</button>
    </form>
</div>