@model ContactUsFormViewModel

@{
    HeaderWithInfoModel header = new HeaderWithInfoModel()
            {
                Title = "CONTACT",
                ImageUrl = "https://cdn.pixabay.com/photo/2018/03/10/09/49/city-3213676_1280.jpg"
            };
}

<partial name="/Views/PartialViews/Components/_HeaderWithInfo.cshtml" model="@header" />

<!-- Contact form -->
<div class="contact-form container">

    <h5 style="color: #636363; margin-top: 100px;">Fill in the form to come in contact with us.</h5>

    <form method="post" class="form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <span class="split-input">
            <span>
                <label asp-for="Name"></label>
                <input asp-for="Name" type="text">
                <small class="text-danger"><span asp-validation-for="Name"></span></small>
            </span>
            <span>
                <label asp-for="Email" id="FormEmail" oninput="ValidateEmail()"></label>
                <input asp-for="Email">
                <small class="text-danger"><span asp-validation-for="Email"></span></small>
                <small class="text-danger"><p id="EmailError"></p></small>
            </span>
        </span>

        <span class="split-input">
            <span>
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" type="text">
                <small class="text-danger"><span asp-validation-for="PhoneNumber"></span></small>
            </span>
            <span>
                <label asp-for="Company"></label>
                <input asp-for="Company" type="text">
                <small class="text-danger"><span asp-validation-for="Company"></span></small>
            </span>
        </span>
        <label asp-for="Message"></label>
        <textarea asp-for="Message" cols="20" rows="5"></textarea>
        <small class="text-danger"><span asp-validation-for="Message"></span></small>

        <span>            
            <input asp-for="TermsAndAgreements" type="checkbox" />
            <label asp-for="TermsAndAgreements"></label>
        </span>
        <small class="text-danger"><span asp-validation-for="TermsAndAgreements"></span></small>

        <button type="submit" class="btn-theme">Submit</button>
    </form>
</div>

<!-- IFrame of maps -->
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d65225.027037530715!2d15.13224370667919!3d59.27814230577284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465c017f144aff39%3A0xcfe3b0bad018c93e!2zw5ZyZWJybw!5e0!3m2!1sen!2sse!4v1679494826413!5m2!1sen!2sse" width="100%" height="700" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
