@{
    ProductModel product = new ProductModel();
    product.Colours.Add("Blue");
    product.Colours.Add("Black");
    product.Colours.Add("Red");
    product.Colours.Add("Green");
}


<div class="AddProductForm container">
    <h5 style="color: #636363; margin-top: 100px;">Add a new product.</h5>
    <form action="" class="form mt-4">
        <span class="split-input">
            <span>
                <label for="productName">Product Name*</label>
                <input name="productName" type="text">
            </span>
            <span>
                <label for="price">Price*</label>
                <input name="price" type="number">
            </span>
        </span>

        <span class="split-input">
            <span>
                <label for="productCategory">Category*</label>
                <input name="productCategory" type="text">
            </span>
            <span>
                <label for="company">Image Url</label>
                <input name="company" type="text">
            </span>
        </span>
        <label for="productDescription" style="margin-bottom: -20px;">Product Description</label>
        <textarea name="productDescription" id="" cols="20" rows="5"></textarea>

        <span class="radio-input">
            <label for="agreements"><input type="radio" name="agreements" id=""><i class="fa-solid fa-check"></i>Save my name, email, and website in this browser for the next time I comment.</label>
        </span>

        @foreach (string colour in product.Colours)
        {
                <label for="@colour">@colour</label>
                <input type="checkbox" id="@colour" value="@colour" />            
        }

        <button class="btn-theme">Add Product</button>
    </form>
</div>

@{
}
