
<div class="header ">
    <span class="header-text">
        <h5>WELCOME TO BMARKETO SHOP</h5>
        <h1>Exclusive Chair gold Collection.</h1>
        <button class="btn-theme">SHOP NOW</button>
    </span>
    <img src="" alt="">         
</div>