@model List<ProductModel>


<div class="main-sales ">
    <div class="container">

        @if (Model.Count > 0)
        {
            <partial name="/Views/PartialViews/Components/ProductCards/_ProductCardMedium.cshtml" model="Model[0]" />
        }

        <div class="card info-card">
            <h6>UP TO SELL</h6>
            <h1>50% OFF</h1>
            <h5>Get The Best Price</h5>
            <p>Get the best daily offer et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren no sea taki</p>
            <a href="">Discover More</a>
        </div>

        @if (Model.Count > 1)
        {
            <partial name="/Views/PartialViews/Components/ProductCards/_ProductCardMedium.cshtml" model="Model[1]" />
        }
    </div>
</div>
