


<div class="main-sales ">
    <div class="container">
        <!-- Cards -->
        <div class="card">
            <img src="https://cdn.pixabay.com/photo/2015/01/21/14/14/apple-606761_1280.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Mac computer</h5>
                <span>
                    <p class="card-text">$99.00</p>
                    <button>
                        <i class="fa-regular fa-cart-plus"></i>
                    </button>
                </span>
            </div>
        </div>

        <div class="card info-card">
            <h6>UP TO SELL</h6>
            <h1>50% OFF</h1>
            <h5>Get The Best Price</h5>
            <p>Get the best daily offer et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren no sea taki</p>
            <a href="">Discover More</a>
        </div>

        <div class="card">
            <img src="https://cdn.pixabay.com/photo/2015/01/21/14/14/apple-606761_1280.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Mac computer</h5>
                <span>
                    <p class="card-text">$99.00</p>
                    <button>
                        <i class="fa-regular fa-cart-plus"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>
