
<!-- Subscripe section -->
<div class="subscribe">
    <img src="https://cdn.pixabay.com/photo/2017/08/01/09/02/computer-2563737_1280.jpg" alt="">
    <div class="container">
        <form action="">
            <input type="text" class="subscribe-input" placeholder="Enter your mail here"> 

            <button>SUBSCRIBE FOR NEWSLETTER</button>
        </form>
    </div>

</div>

