@model HeaderWithInfoModel;


<!-- Header picture -->
<div class="details-header ">
    <h1>@Model.Title</h1>
    <h3 id="breadcrumb"></h3>
    <img src="@Model.ImageUrl" alt="404: Image not found">
</div>