<!-- Product overview -->
<div class="container product-overview ">
    <!-- Images -->
    <div class="images">
        <!-- Maing image -->
        <img class="main-image" src="" alt="">

        <!-- Lower images -->
        <span class="lower-images">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </span>
    </div>

    <!-- Details -->
    <div class="details">
        <h1>Young Star Smart Shoe in Fashion</h1>
        <p class="details-text">Lirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

        <hr>
        <span class="rating">
            <div class="star-background">
                <div class="fill-rating" style="width: 75%;"></div>
                <img src="./images/Stars.svg" alt="">
            </div>
            <p>16 reviews</p>
        </span>

        <h1>$30</h1>

        <span class="ammount">
            <span class="adjust-quantity">
                <button>-</button>
                <span>
                    <h5>2</h5>
                </span>
                <button>+</button>
            </span>
            <button class="btn-theme">Add to Cart<i class="fa-regular fa-cart-plus"></i></button>
        </span>

        <span class="colours">
            <div class="color" style="background-color: red;"></div>
            <div class="color" style="background-color: goldenrod;"></div>
            <div class="color" style="background-color: rgb(122, 162, 168);"></div>
            <p>SKU: N/A</p>
        </span>

        <button class="btn-white">ADD to wishlist</button>

        <p class="category">Category: Table Lamp, Light</p>


    </div>
</div>

<!-- Indepth product details -->
<div class="container indepth-details">
    <span class="detail-buttons">
        <button class="btn-white">DESCRIPTION</button>
        <button class="btn-white">ADDITIONAL INFO</button>
        <button class="btn-white">REVIEWS (0)</button>
        <button class="btn-white">SHIPPING & DELIVERY</button>
    </span>

    <div class="description">
        <h1>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie.</h1>
        <div>
        </div>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et cusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata santus est Lorem ipsum dolor sit amet. Lorem ipsum dolor.</p>
        <p>accusantium laborum pretium hic excepturi harum repellat facilisis convallis potenti, adipiscing lectus aliqua. Asperiores repudiandae ipsam error erat, accusamus, cum taciti unde?</p>
        <p>Praesentium, pariatur, tempora consequuntur purus sapiente, iaculis vitae consequatur, rhoncus earum eleifend, hendrerit ipsum rhoncus ex error, impedit! Alias laboris sequi curae aptent? Eu sagittis eu, distinctio tortor? Dapibus delectus! Consequuntur luctus. </p>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et cusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata santus est Lorem ipsum dolor sit amet. Lorem ipsum dolor.</p>

        <img src="" alt="">
    </div>
</div>
