.all-products {
    display: flex;
    .products {
        display: flex;
        justify-content: center; 
        flex-wrap: wrap;
        gap: 10px;
    }
    .fixed-btn {
        position: fixed;
        bottom: 100px;
        right: 40px;
    }
}
