.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100px;
    background-color: #292929;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        color: $color-gray-4;
    }
}
.testing {
    position: relative;
    min-height: 100vh;
}