.navbar {
    position: relative;
    padding: 40px 0 40px 0;

    .navbar-brand {
        img {
            height: 40px;
        }
    }

    .navbar-toggler {
        font-size: 4rem;
        border: none;
        color: black;
    }

    .navbar-collapse {
        text-align: end;
        font-size: 1.3rem !important;
        padding-right: 20px;
        padding-top: 20px;

        @include lg {
            position: absolute;
            right: 0;
            font-size: 1.5rem;

            li {
                display: flex;
                align-items: center;
            }
        }

        #navbar-search {
            border: 1px solid $color-gray-4;
            padding: 3px 10px;
            margin-bottom: 2px;
            margin-left: -20px;
            transition: 0.5s ease-in-out;
            border-radius: 10px;
            width: 0px;
            opacity: 0;
            font-size: 19px;
            font-weight: 100;

            &:focus {
                outline: none;
                box-shadow: 0 3px 10px rgb(126, 126, 126);
            }
        }

        .search-expanded {
            width: 200px !important;
            margin-left: 0px !important;
            opacity: 1 !important;
        }

        .navbar-search-btn {
            border: none;
            background: none;

            i {
                text-decoration: none;
                color: black;
                transition: 0.2s ease-in-out;

                &:hover {
                    color: $color-theme-1 !important;
                }
            }
        }

        .badge {
            background-color: $color-theme-1;
            font-size: 0.8rem;
        }
    }
}
